.text{
    color: #647995;
    font-family: Poppins;
    font-size: 14px;
   
   
}

.center{
   justify-content: space-between;
}

.bg {
    background-color: #FFFFFF;
}

.bgs {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 50px;
}

.bgss {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
    max-width: 100%;
}

.side{
    margin-left: 20px;
    margin-top: 20px;
}
.top{
    margin-top: 20px;
}

.flex-container {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
}

.background {
    background-image: url('../assets/banner.png');
    height: 200px;
    margin-top: 20px;
   
}

.content {
    flex-grow: 1;
    max-width: 95%; /* Adjust as needed */
    margin-left: 4px; /* Left margin */
    margin-right: 4px; /* Right margin */
}

.contents {
    display: flex;
    background-color: #F0F2F5;
    justify-content: space-between;
    flex-direction: row;
}

.date {
    background-color: #FEF4E6;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 233px;
    margin-top: 20px;
}

.typo {
    font-family: Poppins;
    font-size: 12px;
}

.typos {
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}


.typoss {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    color: #676E7E;
}

.trip {
    margin-top: 60px;
}
.texts{
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    color: #1D2433;
}

.textss{
    font-family: Poppins;
    font-size: 14px;
    color: #647995;
}

.flight{
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.hotel{
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}

.active{
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
.flexs button {
    background-color: white;
    color: #0D6EFD;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    height: 46px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flexs{
    padding: 0 24px;
}

.search{
    margin-top: 15px;
    margin-bottom: 15px;
}

.attraction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 50px;
}

.attractions {
width: 30%;
max-width: 30%;
justify-content: center;
}

.image2 {
    height: 100px;
}